.icon {
  background-image: url('../img/sprites.png');
}
.icon-mm2-airman-arena1 {
  background-position: -0px -0px;
  width: 638px;
  height: 640px;
}
.icon-mm2-airman-arena2 {
  background-position: -638px -0px;
  width: 638px;
  height: 640px;
}
.icon-mm2-airman-arena3 {
  background-position: -1276px -0px;
  width: 638px;
  height: 640px;
}
.icon-mm2-airman-jump {
  background-position: -0px -640px;
  width: 92px;
  height: 75px;
}
.icon-mm2-airman-shoot1 {
  background-position: -187px -640px;
  width: 92px;
  height: 70px;
}
.icon-mm2-airman-shoot2 {
  background-position: -279px -640px;
  width: 92px;
  height: 70px;
}
.icon-mm2-airman-shoot3 {
  background-position: -92px -640px;
  width: 95px;
  height: 70px;
}
.icon-mm2-airman-stand {
  background-position: -0px -715px;
  width: 80px;
  height: 75px;
}
.icon-mm2-airman-tornado1 {
  background-position: -554px -715px;
  width: 35px;
  height: 40px;
}
.icon-mm2-airman-tornado2 {
  background-position: -589px -715px;
  width: 30px;
  height: 40px;
}
.icon-mm2-airman-tornado3 {
  background-position: -619px -715px;
  width: 30px;
  height: 38px;
}
.icon-mm2-fx-damage {
  background-position: -348px -715px;
  width: 60px;
  height: 60px;
}
.icon-mm2-fx-explode1 {
  background-position: -749px -640px;
  width: 40px;
  height: 40px;
}
.icon-mm2-fx-explode2 {
  background-position: -649px -715px;
  width: 30px;
  height: 30px;
}
.icon-mm2-fx-explode3 {
  background-position: -843px -640px;
  width: 25px;
  height: 25px;
}
.icon-mm2-fx-explode4 {
  background-position: -886px -640px;
  width: 10px;
  height: 10px;
}
.icon-mm2-megaman-bullet {
  background-position: -868px -640px;
  width: 18px;
  height: 13px;
}
.icon-mm2-megaman-climb1 {
  background-position: -0px -862px;
  width: 40px;
  height: 72px;
}
.icon-mm2-megaman-climb2 {
  background-position: -709px -640px;
  width: 40px;
  height: 55px;
}
.icon-mm2-megaman-hit {
  background-position: -218px -715px;
  width: 65px;
  height: 70px;
}
.icon-mm2-megaman-jump {
  background-position: -153px -715px;
  width: 65px;
  height: 75px;
}
.icon-mm2-megaman-run1 {
  background-position: -596px -640px;
  width: 61px;
  height: 55px;
}
.icon-mm2-megaman-run2 {
  background-position: -514px -715px;
  width: 40px;
  height: 60px;
}
.icon-mm2-megaman-run3 {
  background-position: -657px -640px;
  width: 52px;
  height: 55px;
}
.icon-mm2-megaman-shoot-climb {
  background-position: -0px -790px;
  width: 60px;
  height: 72px;
}
.icon-mm2-megaman-shoot-jump {
  background-position: -80px -715px;
  width: 73px;
  height: 75px;
}
.icon-mm2-megaman-shoot-run1 {
  background-position: -524px -640px;
  width: 72px;
  height: 55px;
}
.icon-mm2-megaman-shoot-run2 {
  background-position: -283px -715px;
  width: 65px;
  height: 60px;
}
.icon-mm2-megaman-shoot-run3 {
  background-position: -449px -640px;
  width: 75px;
  height: 55px;
}
.icon-mm2-megaman-shoot-stand {
  background-position: -371px -640px;
  width: 78px;
  height: 60px;
}
.icon-mm2-megaman-stand1 {
  background-position: -408px -715px;
  width: 53px;
  height: 60px;
}
.icon-mm2-megaman-stand2 {
  background-position: -461px -715px;
  width: 53px;
  height: 60px;
}
.icon-mm2-megaman-teleport1 {
  background-position: -789px -640px;
  width: 54px;
  height: 26px;
}
.icon-mm2-megaman-teleport2 {
  background-position: -60px -790px;
  width: 53px;
  height: 66px;
}
.icon-mm2-megaman-teleport3 {
  background-position: -19px -934px;
  width: 16px;
  height: 81px;
}
.icon-mm2-ui-health-airman {
  background-position: -896px -640px;
  width: 19px;
  height: 3px;
}
.icon-mm2-ui-health-megaman {
  background-position: -915px -640px;
  width: 19px;
  height: 3px;
}
.icon-mm2-ui-healthbar {
  background-position: -0px -934px;
  width: 19px;
  height: 140px;
}